body {
    font-family: 'Hanken Grotesk', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0;
    font-weight: 700;
}

body > article:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    width: 100vw;
    margin: 0;
    color: hsl(241, 100%, 89%);
  }

  .top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    padding-bottom: 25px;
  }

  h1 {
    font-weight: 700;
  }

  .circle-result {
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
  }

  .main-result {
    font-weight: 800;
    font-size: 500%;
  }

  .pale-blue {
    color: hsl(0, 0%, 100%);
  }

  p.pale-blue {
    font-size: 25px;
    margin-bottom: 0;
  }

  .light-weight {
    font-weight: 500;
  }
  
  p.light-weight.percentage {
   padding-top: 0;
  }




body > article:nth-child(2){
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  width: 90vw;
}

body > article:nth-child(2) > h2 {
    padding-right: 200px;
  }

.topic-result-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.reaction-main {
    color: hsl(0, 100%, 67%);
}

.memory-main {
    color: hsl(39, 100%, 56%);
}

.verbal-main {
    color: hsl(166, 100%, 37%);
}

.visual-main {
    color: hsl(234, 85%, 45%);
}

.topic-result {
   padding-right: 10px;
}

.topic {
    display: flex;
    gap: 15px;
    padding-left: 10px;
    padding-right: 5px;
}

.topic-result-container.reaction {
    background-color: hsla(0, 100%, 67%, 0.100);
    border-radius: 10px;
    padding: 2px;
    width: 90%;
}

.topic-result-container.memory {
    background-color: hsla(39, 100%, 56%, 0.100);
    border-radius: 10px;
    padding: 2px;
    width: 90%;
}

.topic-result-container.verbal {
    background-color: hsl(166, 100%, 37%, 0.100);
    border-radius: 10px;
    padding: 2px;
    width: 90%;
}

.topic-result-container.visual {
    background-color: hsl(234, 85%, 45%, 0.100);
    border-radius: 10px;
    padding: 2px;
    width: 90%;
}

.grey {
    color: rgb(159, 159, 160);
}

body > article:nth-child(3) {
    /* grid-area: button;
    display: flex;
    justify-content: center;
    align-content: center; */
}


button {
    /* color: white;
    background-color: hsl(224, 30%, 27%);
    border: none;
    border-radius: 10%;
    max-width: 300px; */
}
  
.attribution {
    /* grid-area: attribution; */
}
  